* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    background-color: #011826;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    background-color: #011826;
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;
    color: #a3998f;
    margin-left: 80px;
    padding-top: 50px;
}

h1:hover {
    color: #f5f5dd;
}

p {
    font-family: 'Antic Slab', serif;
    font-size: 2em;
    color: #a3998f;
    margin: 30px;
}

/*NAV*/
/* unvisited link */
header nav a:link {
    color: #011826;
}

/* visited link */
header nav a:visited {
    color: #a3998f;
}

/* mouse over link */
header nav a:hover {
    color: orange;
}

/* selected link */
header nav a:active {
    color: #909090;
}

header {
    position: fixed;
    rgba(0, 212, 255, 0) 100%);
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 50em
}

index.html header nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 1000px;
}

header nav a {
    font-size: 2.5rem;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    ;
}

.sectionwrapper {
    display: flex;
    margin: 50px;
    padding-top: 10px;
    flex-direction: column;
}

.sectionwrapper_circle {
    display: flex;
    margin: 50px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.sectionwrapper_circle a {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    color: #dbcbbb;
}

.sectionwrapper_circle a:hover {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    color: #000000;
}

.col {
    display: flex;
}

.circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 10vw;
    width: 10vw;
    border-radius: 30000px;
    background-color: #4a555b;
    padding: 4vw;
}

.circle h1 {
    margin-left: 0;
    padding-top: 0;
    color: #343434;
}

.circle:hover {
    background-color: orange;
}

.sectionwrapper_kontakt {
    display: flex;
    margin: 50px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.sectionwrapper_kontakt a {
    text-decoration: none;
    color: #dbcbbb;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;

}

#kontakt {
    height: 600px
}

/*------------FOOTER------------*/
footer {
    height: 130px;
    width: 100%;
    background-color: #122d41;
}

#some {
    display: flex;
    justify-content: space-around;
}

#some h1:hover {
    color: orange;
}

/*-------------Undersider----------------*/

.underside {
    left: 70em;
}

.underside a {
    font-family: 'Inconsolata', monospace;
}

#underside {
    padding-top: 200px
}

/*-----------------titel-------------------*/
#title {
    position: absolute;
    left: 13vw;
    top: 50vw;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 5rem;
    color: #a3998f;
}

h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;
    color: #a3998f;
}

h2:hover {
    color: beige;
}

h3:hover {
    color: orange;
}

/*--------------Scroll--------------------*/
#scroll {
    position: absolute;
    left: 47vw;
    top: 43vw;
    align-items: center;
}

h4 {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    color: #a3998f;
}
