* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    background: rgb(2, 11, 18);
    background: linear-gradient(90deg, rgba(2, 11, 18, 1) 0%, rgba(1, 21, 30, 1) 21%, rgba(3, 27, 39, 1) 37%, rgba(0, 27, 38, 1) 54%, rgba(0, 22, 33, 1) 69%, rgba(1, 18, 26, 1) 82%, rgba(1, 8, 14, 1) 100%);
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;
    color: #a3998f;
    margin-left: 80px;
    padding-top: 50px;
}

h1:hover {
    color: #f5f5dd;
}

p {
    font-family: 'Antic Slab', serif;
    font-size: 2em;
    color: #a3998f;
    margin: 30px;
}

/*NAV*/
/* unvisited link */
header nav a:link {
    color: #a3998f;
}

/* visited link */
header nav a:visited {
    color: #a3998f;
}

/* mouse over link */
header nav a:hover {
    color: orange;
}

/* selected link */
header nav a:active {
    color: #909090;
}

header {
    position: fixed;
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    float: left;
    display: block;
    text-align: center;
    padding: 5vw 7vw;
}

header nav a {
    font-size: 2.5rem;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    padding-right: 4vw;
}

.sectionwrapper {
    display: flex;
    margin: 50px;
    padding-top: 10px;
    flex-direction: column;
}

.sectionwrapper_circle {
    display: flex;
    margin: 50px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.sectionwrapper_circle a {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    color: #dbcbbb;
    justify-items: center;
}

.sectionwrapper_circle a:hover {
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    color: #000000;
}

.col {
    display: flex;
}

.circle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 13vw;
    width: 13vw;
    border-radius: 300px;
    background-color: #4a555b;
    padding: 5vw;
}

.circle h1 {
    margin-left: 0;
    padding-top: 0;
    color: #343434;
}

.circle:hover {
    background-color: orange;
}

.sectionwrapper_kontakt {
    display: flex;
    margin: 50px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.sectionwrapper_kontakt a {
    text-decoration: none;
    color: #dbcbbb;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;

}

#kontakt {
    height: 600px
}

/*------------FOOTER------------*/
footer {
    height: 20vh;
    width: 100%;
    position: absolute;
}

#earth img {
    position: absolute;
    width: 80%;
    top: 357vh;
    left: 10%
}

}

#underside footer {
    height: 20vh;
    width: 100%;
    background-color: #122d41;
    position: absolute;
    top: 80vh;
}

#some {
    display: flex;
    justify-content: space-around;
}

#some h1:hover {
    color: orange;
}


/*-------------Undersider----------------*/

.undersider {
    display: flex;
    flex-direction: row;
    position: fixed;
    display: block;
    text-align: center;
    padding: 5vw 7vw;
}

.undersider a {
    font-family: 'Inconsolata', monospace;
}

#underside footer {
    top: 80vh;
}



/*-----------------titel-------------------*/
#title {
    position: absolute;
    left: 13vw;
    top: 50vw;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-size: 5rem;
    color: #a3998f;
}

h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 3rem;
    color: #a3998f;
}

h2:hover {
    color: beige;
}

h3:hover {
    color: orange;
}

/*--------------Scroll--------------------*/
#scroll {
    position: absolute;
    left: 47vw;
    top: 43vw;
    align-items: center;
}

h4 {
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    color: #a3998f;
}
